@import "res/global.css";

.contentWrapper{
	display: block;
	margin: auto;
	width: 80vw;
	max-width: 1200px;
}

.collateral{
	height: 3em;
	margin: 2em;
	/* filter: saturate(0); */
	/* opacity: 0.6; */
}

div.header{
	display: flex;
	margin: 0;
	padding: 1em 0;
	text-align: center;
	font-weight: 200;
	vertical-align: bottom;
}

div.header > *{
	display: flex;
	margin: 0 1em;
	padding: 0.2em 0;
	line-height: 1em;
}

div.poster{
	display: flex;
	margin: 0;
	padding: 2em 0;
	vertical-align: bottom;
	flex-wrap: wrap;
}

div.poster > *{
	display: flex;
	margin: 1em 0;
	line-height: 120%;
}

a.button{
	/* flex-shrink: 1; */
	text-decoration: none;
	border-radius: 2em;
	font-size: 1em;
	font-weight: 400;
	height: 1.2em;
	line-height: 1.2em;
	padding: 0.3em 0.8em;
	user-select: none;
	cursor: pointer;
	margin: 0 1em;
}

a.button.plain{
	border: 1px solid #FFF0;
	color:#666;
	text-decoration: underline;
	margin: 0 0em;
}

a.button.task_list,
a.button.get_detail,
a.button.progress_list{
	border: 1px solid var(--accent);
	color: var(--accent);
}

a.button.submit_issues{
	position: relative;
	border: 1px solid gray;
	background-color:gray;
	color: white;
}

a.button.submit_issues i{
	position: absolute;
	display: block;
	font-size: 1.6em;
	left: 0.15em;
	top: 0.1em;
}

a.button.how_to_enroll,
a.button.enter_meeting{
	border: 1px solid var(--accent);
	background-color: var(--accent);
	color: white;
}

a.button:hover{
	filter: brightness(1.5);
}

a.button:active{
	filter: brightness(1.2);
}

.event_entry{
	display: flex;
	padding: 0.5em;
	border-radius: 1em;
	width: 100%;
	flex-wrap: nowrap;
	margin: 1em 0;
	justify-content: left;
}

.event_entry .content{
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-direction: row;
	padding-left: 1em;
}

.event_entry .content > *{
	box-sizing: content-box;
	/* margin: 0.5em; */
}

.event_entry:hover{
	background-color: #EEE;
}

.event_entry > span{
	text-align: left;
}

sup.badge{
	font-size: 0.4em;
	padding: 0.1em 0.5em;
	display: inline-block;
	background-color: red;
	color: white;
	border-radius: 1em;
}