#keyNavi{
	display: flex;
	font-size: 1.4em;
	font-weight: 400;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 36em;
}

#keyNavi > span{
	display: flex;
	flex-grow: 1;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: center;
}

#keyNavi > span > a{
	display: block;
	box-sizing: border-box;
	margin: 0.4em 0.2em;
	height: 1.9em;
}

.collateral{
	height: 3em;
	margin: 2em;
	/* filter: saturate(0); */
	/* opacity: 0.6; */
}

div.poster{
	display: flex;
	margin: 0;
	padding: 2em 0;
	vertical-align: bottom;
	flex-wrap: wrap;
}

div.poster > *{
	display: flex;
	margin: 1em 0;
	line-height: 120%;
}

a.button.task_list,
a.button.get_detail,
a.button.progress_list{
	border: 1px solid var(--accent);
	color: var(--accent);
}

a.button.submit_issues{
	position: relative;
	border: 1px solid gray;
	background-color:gray;
	color: white;
}

a.button.submit_issues i{
	position: absolute;
	display: block;
	font-size: 1.56em;
	left: 0.1em;
	top: 0.1em;
}

a.button.how_to_enroll{
	border: 1px solid var(--accent);
	background-color: var(--accent);
	color: white;
}

a.button:hover{
	filter: brightness(1.5);
}

a.button:active{
	filter: brightness(1.2);
}

sup.badge{
	font-size: 0.4em;
	padding: 0.1em 0.5em;
	display: inline-block;
	background-color: red;
	color: white;
	border-radius: 1em;
}