@import "./codicon.css";

*{
	font-family: Arial, Helvetica, sans-serif;
}

body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

a.link_current,
a.link {
	font-weight: 300;
	line-height: 1em;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 2px solid #ffffff00;
}

a.link_current,
a.link:hover {
	border-bottom: 2px solid #1b4a81;
}

a.link:active {
	border-bottom: 2px solid #1b4a81;
}

a.link:link {
}



.banner{
	margin: 0;
	width: 100vw;
	padding: 0.5em;
	text-align: center;
	color: #fffA;
	font-weight: 400;
}

.banner b{
	color:  #FFF;
	font-weight: 600;
}

.disabled{
	/* color: gray; */
	filter: saturate(0);
	cursor: not-allowed !important;
}