@import "./codicon.css";

:root{
	--accent: #1b4a81;
	--accent-bright: #2d7ad2;
}

*{
	font-family: Arial, Helvetica, sans-serif;
}

body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

a{
	color: inherit;
}

a.button{
	/* flex-shrink: 1; */
	text-decoration: none;
	border-radius: 2em;
	font-size: 1em;
	font-weight: 400;
	height: 1.2em;
	line-height: 1.2em;
	padding: 0.3em 0.8em;
	user-select: none;
	cursor: pointer;
	margin: 0 1em;
}

a.button.plain{
	border: 1px solid #FFF0;
	color:#666;
	text-decoration: underline;
	margin: 0 0em;
}

margin[vertical]{
	display: block;
	width: 100%;
	height: 0;
	margin: var(--size) 0;
}

margin[horizontal]{
	display: block;
	width: 0;
	height: 100%;
	margin: 0 var(--size);
}

.banner{
	margin: 0;
	width: 100vw;
	padding: 0.5em;
	text-align: center;
	color: #fffA;
	font-weight: 400;
}

.banner b{
	color: #FFF;
	font-weight: 600;
}

.contentWrapper{
	display: block;
	margin: auto;
	width: 80vw;
	max-width: 1200px;
}

.disabled{
	/* color: gray; */
	filter: saturate(0);
	cursor: not-allowed !important;
}