@import "../index.css";

table{
	background-color: #EEE;
	border: none;
	border-collapse: collapse;
	width: 100%;
	min-height: 80vh;
	vertical-align: top;
	font-weight: 400;
	max-width: 1200px;
}

td{
	padding: 2em;
	vertical-align: top;
}

.navi{
	background-color: #DDD;
	width: 16em;
	padding: 1em 0;
}

.cards{
	width: 16em;
	display: flex;
	flex-direction: column;
}

.cards > *{
	box-sizing: border-box;
	width: 16em;
	margin-bottom: 1.2em;
	border-radius: 4px;
	box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.3);
}

.cards > a{
	display: flex;
	padding: 0.4em 0.6em;
	text-decoration: none;
	overflow: hidden;
	flex-direction: row;
	justify-content: left;
	vertical-align: center;
}

.cards > a:hover,
.cards > a:active{
	filter: brightness(1.1);
}

.cards > a:link{
}

.cards > a > *{
	display: flex;
}
.cards > a > :not(.codicon){
	font-weight: lighter;
	pointer-events: none;
}
.cards > a > .codicon{
	font-size: 2em;
	pointer-events: none;
}

.navi > a{
	display: flex;
	padding: 0.5em 1.2em;
	margin: 0.5em 0;
	text-decoration: none;
}

.navi > a.current{
	font-weight: 500;
	background-color: #BBB;
}
.navi > a:not(.current):hover{
	background-color: #CCC;
}
.navi > a:not(.current):link,
.navi > a:not(.current):active{
	background-color: #DDD;
}